
.container{
   width: 100%;
   height: auto;
   background:hsl(0, 0%, 11%);
}

body {
   margin: 0px;
   padding: 0px;
   background-color: hsl(0, 0%, 11%);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 100%;
   overflow-x: hidden;
}

/* NAVBAR */
nav {
   display: flex;
   flex-flow: row-reverse nowrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: hsl(345.7,100%,91%);
   position: fixed;
   width: 95%;
   border-radius: 50px;
   margin: 50px;
}


li {
   display: inline;
   color: black;
   padding: 5px;

}

a {
   color: black;
   padding: 5px;
   text-decoration: none;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 28px;
   transition: 0.3s;

}

a:hover {
   color: hsl(0, 0%, 100%);
   background-color: hsl(0, 0%, 11%);
   padding: 10px;
   text-align: center;
   top: 50%;
   font-size: 35px;
}

img {
   width: 100%;
   height: auto;
}

img[src="Bilder/thesplashlogo.png"] {
   width: 50px;
   height: auto;
   align-self: flex-start;
}  

a[href="https://splash-festival.de/tickets?gclid=CjwKCAjwrpOiBhBVEiwA_473dF87ivQwg22X93eoBFSI_fG5f_AZwCUm9wPFfqLfcqDdJgO99CbY_BoCcCkQAvD_BwE"] {
   color: pink;
   font-size: 18px;
}

a[href="https://splash-festival.de/tickets?gclid=CjwKCAjwrpOiBhBVEiwA_473dF87ivQwg22X93eoBFSI_fG5f_AZwCUm9wPFfqLfcqDdJgO99CbY_BoCcCkQAvD_BwE"]:hover {
   color: hsl(0, 0%, 100%);
   font-size: 18px;
   background-color: hsl(0, 0%, 7%);
   padding: 5px;
   top: 50%;
}

/*
END OF NAVBAR
START OF FLEXBOX
 */

.flexbox-ltr {
   display: flex;
   flex-direction: row;
   padding: 20px;
   padding-top: 100px;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-content: center;
   height: 3500px;
   width: 100%;
   gap: 5%;
   align-items: flex-start;
}

.flexbox-ttbl {
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 50%;
   flex-wrap: nowrap;
   justify-content: space-evenly;

}

.flexbox-ttbr {
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 50%;
   flex-wrap: nowrap;
   justify-content: space-evenly;
}

/*
END OF FLEXBOX
START OF INTRO
 */

.introduction {
   padding-top: 9%;
}

header {
   padding: 2.5%;
}

main {
   padding: 2.5%;
}

h1 {
   color: hsl(345.7,100%,91%);
   font-family: 'Bebas Neue', sans-serif;
}

h2 {
   color: hsl(345.7,100%,91%);
}

h3 {
   color: hsl(345.7,100%,91%);
}

p {
   color: hsl(0, 0%, 100%);
   width: 96%;
}

li {
   color: hsl(0, 0%, 100%);
}



/*
#TheSplash {
   position: relative;
   top: 230px;
   bottom: 100px;
   left: 675px;
}

img[src="Bilder/LilUziVert.jpg"] {
   width: 600px;
   height: auto;
   position: relative;
   top: 10px;
   bottom: 100px;
}

img[src="Bilder/Kendrick.jpg"] {
   width: 600px;
   height: auto;
   position: relative;
   float: right;
   margin-bottom: 30px;
}

#KendrickLamar {
   position: relative;
   float: right;
}

img[src="Bilder/Haftbefehl.jpg"] {
   width: 600px;
   height: auto;
}

img[src="Bilder/UFO361.jpg"] {
   width: 600px;
   height: auto;
}
*/

table {
   font-size: 18px;
   color: hsl(0, 0%, 100%);

}

.table_header {
   color: black;
   background-color: hsl(345.7,100%,91%);
}

.table_body {
   background-color: hsl(0, 0%, 7%);
   color: white;
}

th {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   padding: 10px;
}

td {
   padding: 10px;
   font-size: 10px;
}

hr {
   height: 1px;
   border: none;
   background-color: hsl(345.7,100%,91%);
}



/*

#Gewinnspiel {
   position: relative;
   float: right;
   top: -200px;
   width: 600px;
}
*/

/*formulare*/
fieldset {
   background-color: hsl(0, 0%, 100%);
}

legend {
   background-color: hsl(0, 0%, 100%);
}

img[src="Bilder/Gewinnspiel.jpg"] {
   width: 600px;
   height: auto;
}

img[src="Bilder/VielGlück.jpg"] {
   width: 600px;
   height: auto;
}
input[type="submit"],input[type="reset"]{
   background-color: hsl(174, 72%, 56%);  
}
input[type="submit"]:hover,input[type="reset"]:hover{
   background-color: hsl(240, 100%, 50%);  
}

input:valid {
   color: hsl(120, 100%, 25%);
}

input:invalid {
   color: hsl(0, 100%, 50%);
}

/* Responsiveness */

/* FLEXBOX */
@media (max-width: 1200px) {
   .flexbox-ltr {
      display: flex;
      flex-direction: row;
      padding: 20px;
      padding-top: 100px;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      height: auto;
      width: 100%;
      gap: 0%;
      align-items: flex-start;
   }

   .flexbox-ttbl {
      display: block;
      padding: 20px;
      width: 100%;
      flex-grow: 4;
   
   }
   
   .flexbox-ttbr {
      display: block;
      padding: 20px;
      width: 100%;
   }

   /* NAVBAR */
   .navbar-flex {
      display: flex;
      justify-content: center;
      flex-flow: row-reverse nowrap;
   }
   
   .navbar {
      list-style-type: none;
      margin: 20px;
      margin-right: 20px;
      padding: 20px;
      background-color: hsl(345.7,100%,91%);
      width: 85%;
      border-radius: 25px;
      position: fixed;
   }
   
   .navbar ul {
      width: 100%;
      margin: 0;
   }
   
   .navbar li {
      display: inline;
      color: hsl(0, 0%, 100%);
      padding: 10px;
   
   }
   
   .navbar a {
      color: hsl(0, 0%, 0%);
      padding: 5px;
      text-decoration: none;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 20px;
      transition: 0.3s;
   
   }
   
   .navbar a:hover {
      color: hsl(0, 0%, 100%);
      background-color: hsl(0, 0%, 11%);
      padding: 5px;
      text-align: center;
      top: 50%;      
   }
   
   .navbar img {
      width: 75px;
      height: 36px;
      padding: 0px;
   }

   /* INDIVIDUAL COMPS */
   .img-s {
      height: 250px;
      width: auto;
      flex-grow: 1;
   }

   p {
      color: hsl(0, 0%, 100%);
      width: 96%;
      text-align: left;
   }

   
}







/* End of Responsiveness */